---
layout: default
body_class: index
---

<section id="banner">
	<div class="inner">
		<header>
			<h2>Travel by Spreadsheets</h2>
		</header>
		<p>Hi! I started this blog to share 
			<br /> my travel memories and stories.
		<footer>
			<ul class="buttons stacked">
				<li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
			</ul>
		</footer>
	</div>
</section>

<article id="main">
	<header class="special container">
		<span class="icon solid fa-table"></span>
		<h2>When I travel, I always start with a spreadsheet.</h2>
		<p>Which is where the name of this blog comes from :) 
			<br />
			My aim is to provide a first hand, no frills, practical experience of the trips I go on. You can find more about me <a href="{{ '/contact/' | relative_url }}"> here. </a>
			<br />
			I hope this is of use, or at least a good read!
		</p>
	</header>

	<section class="wrapper style3 container special">
		<header class="major">
			<h2>Recent(ish) Trips</h2>
		</header>

		<div class="row">
			{% for trip in site.trips %}
			<div class="col-6 col-12-narrower">
				<section>
					<a href="{{ trip.url | relative_url }}" class="image featured">
						<img src="{{ trip.featured_image | relative_url }}" alt="{{ trip.title }}" />
					</a>
					<header>
						<h3>{{ trip.title }}</h3>
						<h5>{{ trip.trip_date }}{% if trip.duration %} // {{ trip.duration }}{% endif %}</h5>
					</header>
					<p>{{ trip.excerpt_text }}</p>
				</section>
			</div>
			{% endfor %}
		</div>
	</section>
</article>