<!DOCTYPE HTML>
<html>
<head>
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
	<noscript><link rel="stylesheet" href="{{ '/assets/css/noscript.css' | relative_url }}" /></noscript>

	<link rel="canonical" href="{{ page.url | absolute_url }}" />
</head>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-77F9LJXV6E"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'G-77F9LJXV6E');
</script>

<body class="{{ page.body_class }} is-preload">
	<div id="page-wrapper">

		{% include header.html %}

		{{ content }}

		<section id="cta">
			<header>
				<h2>Ready to travel <strong>somewhere</strong>?</h2>
				<p>[Insert something inspirational]</p>
			</header>
			<footer>
				<ul class="buttons">
					<li><a href="#" class="button primary">¯\_(ツ)_/¯</a></li>
				</ul>
			</footer>
		</section>

		<footer id="footer">
			<ul class="copyright">
				<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
			</ul>
		</footer>

	</div>

	<script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/jquery.dropotron.min.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/jquery.scrolly.min.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/jquery.scrollex.min.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/browser.min.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/breakpoints.min.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/util.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>